<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>web додаток</title>
    </head>
    <body>
        <ul class="nav-menu">
            <li>
                <a href="{{ url_for('index') }}">Cписок лабораторних робіт</a>
            </li>
            <li>
                <a href="{{ url_for('about_me') }}">Про мене</a>
            </li>
            <li>
                <a  href="{{ url_for('contact') }}">Зворотній звязок</a>
            </li>
        </ul>
        <section id="conteiner-of-lab">
            <div id="tasks-lab-1">
                <a href="{{ url_for('task1') }}">завдання 1</a>
                <a href="{{ url_for('task2') }}">завдання 2</a>
                <a href="{{ url_for('task3') }}">завдання 3</a>
            </div>
            <div>
                <h1>Опис</h1>
                <p>Завдання 1: Операції з числами
                    Користувач вводить два числа через функцію input(). Це числа з плаваючою комою (тип float), щоб дозволити введення як цілих, так і десяткових чисел.
                    Для введених чисел виконуються стандартні математичні операції:
                    Додавання (+): результат додавання двох чисел.
                    Віднімання (-): результат віднімання другого числа від першого.
                    Множення (*): результат множення двох чисел.
                    Ділення (/): результат ділення першого числа на друге.
                    Потім результат кожної операції виводиться на екран через функцію print().
                    
                    Завдання 2: Пропорція в акваріумі
                    Користувач вводить кількість рибок у першому акваріумі (akvariomA), а також, скільки разів більше рибок в другому акваріумі (akvariomB).
                    Для знаходження кількості рибок у другому акваріумі, значення akvariomA множиться на akvariomB.
                    Результат виводиться через print().
                    
                    Завдання 3: Обчислення штрафу за перевантаження
                    Користувач вводить кількість ящиків (N), кількість бананів в кілограмах (B), вартість одного кілограма бананів (c), а також на скільки кілограмів кожен ящик перевантажує норму (g).
                    Обчислюється штраф за перевантаження. Формула:Штраф
                    
                    Штраф=B×(c×(1+g))×5 де:
                    
                    B * (c * (1 + g)) — це вартість перевантаженого банана (з урахуванням додаткової ваги).
                    множення на 5 — це множник для штрафу.
                    Результат виводиться через print().</p>
            </div>
            <div id="lab-content" class="output"></div>
        </section>
             
    </body>
</html>