<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>web додаток</title>
    </head>
    <body>
        <ul class="nav-menu">
            <li>
                <a href="{{ url_for('index') }}">Cписок лабораторних робіт</a>
            </li>
            <li>
                <a href="{{ url_for('about_me') }}">Про мене</a>
            </li>
            <li>
                <a  href="{{ url_for('contact') }}">Зворотній звязок</a>
            </li>
        </ul>
        <section id="conteiner-of-lab">
        <h1>Лабораторна 4: Аналіз речень</h1>
    
        <form method="POST">
            <label for="text">Введіть текст:</label><br>
            <textarea name="text" rows="6" cols="50"></textarea><br><br>
            <input type="submit" value="Аналізувати">
        </form>
    
        {% if result %}
        <h2>Результати аналізу:</h2>
        <ul>
            <li>Загальна кількість речень: {{ result.total }}</li>
            <li>Кількість окличних речень: {{ result.exclamatory }}</li>
            <li>Кількість питальних речень: {{ result.interrogative }}</li>
            <li>Кількість речень, що закінчуються трикрапкою: {{ result.ellipsis }}</li>
        </ul>
        {% elif error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <br>
        <br>
        <div>
            <h1>Опис</h1>
            <p>завдання: Підрахуйте загальну кількість речень у тексті, кількість  окличних речень, кількість питальних речень, кількість речень, що  закінчуються трикрапкою. 

                Цей код аналізує текст, який вводить користувач, і визначає кількість різних типів речень (окличних, питальних, з трикрапкою) в тексті.
                Ось, як працює цей код:
                Функція analyze_sentences:
                Розділення на речення: Використовується регулярний вираз r'[.!?…]+', щоб розділити текст на речення. Цей вираз шукає розділові знаки (крапка, знак питання, окличний знак або трикрапка) і використовує їх як межі для поділу тексту.
                Фільтрація порожніх рядків: Створюється список речень, де кожне речення обрізається від зайвих пробілів за допомогою strip(), і порожні рядки відфільтровуються.
                Підрахунок кількості різних типів речень:
                Окличні речення: Підраховуються за допомогою регулярного виразу r'!', який шукає символ окличного знака.
                Питальні речення: Підраховуються за допомогою регулярного виразу r'\?', який шукає знак питання.
                Речення з трикрапкою: Підраховуються за допомогою регулярного виразу r'\.\.\.', який шукає трикрапку.
                Основна частина програми:
                Користувач вводить текст через input().
                Визивається функція analyze_sentences, і її результат зберігається в змінних total, exclamatory, interrogative, ellipsis.
                Результат виводиться на екран.</p>
        </div>
        </section>
             
    </body>
</html>